<nav class="navbar navbar-expand-lg w-80 ">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <span class="ultra">Ultra </span>
      <span class="mega">Mega </span>
      <span class="blaster">Blaster </span>
      <span class="viagens">Viagens </span>
      <span class="ultimate">Ultimate</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link me-5" aria-current="page" routerLink="/cadastro">Nova Viagem</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
