<div class="pageApagar">
  <img
    src="../../assets/images/Warning-amico.png"
    class="img-fluid"
    alt="..."
  />
  <div class="cardApagarViagem">
    <h1>Deseja mesmo apagar a viagem? ⚠️</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Destino</th>
          <th scope="col">Tipo</th>
          <th scope="col">Data de Chegada</th>
          <th scope="col">Data de Saida</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">Acapuco</td>
          <td>LAZER</td>
          <td>20/06/2024</td>
          <td>27/06/2024</td>
        </tr>
      </tbody>
    </table>
    <div class="buttonContainer">
      <a routerLink="/" class="btn btn-primary">Voltar</a>
      <a routerLink="/" class="btn btn-warning">Excluir</a>
    </div>
  </div>
</div>
