<div class="container"><h1>Minhas viagens</h1></div>

<div class="container">
  <app-viagem [imagemUrl]="'../assets/images/nuvensGif.gif'"></app-viagem>
  <app-viagem [imagemUrl]="'../assets/images/praia.gif'"></app-viagem>

  <app-viagem [imagemUrl]="'../assets/images/deserto.gif'"></app-viagem>
  <app-viagem [imagemUrl]="'../assets/images/selva.gif'"></app-viagem>
  <app-viagem [imagemUrl]="'../assets/images/neve.gif'"></app-viagem>
  <app-viagem [imagemUrl]="'../assets/images/cidade.gif'"></app-viagem>
</div>
