<div class="pageDetalhes">
  <img
    src="../../assets/images/Exploring-bro.png"
    class="img-fluid"
    alt="..."
  />
  <div class="detalhesContainer">
    <div class="informacao">
      <span class="titulo">Destino</span>
      <div class="conteudo">Acapuco</div>
    </div>
    <div class="informacao">
      <span class="titulo">Tipo</span>
      <div class="conteudo">Lazer</div>
    </div>
    <div class="informacao">
      <span class="titulo">Data de chegada</span>
      <div class="conteudo">08/06/2024</div>
    </div>
    <div class="informacao">
      <span class="titulo">Data de saida</span>
      <div class="conteudo">08/06/2024</div>
    </div>
    <div class="informacao">
      <span class="titulo">Valor</span>
      <div class="conteudo">R$4.000.00</div>
    </div>
    <div class="informacao">
      <span class="titulo">Qtde. Pessoas</span>
      <div class="conteudo">4</div>
    </div>
   
      <a routerLink="/" class="btn">Voltar</a>
   
  </div>
</div>
